<!DOCTYPE html>

<html>
    <title>Doors or wheals</title>
    <body>
        <h1>Are there more Doors or Wheals in the world?</h1>

        <form method="POST">
            <input type="radio" id="doors" name="d/w" value="Doors">
            <label for="doors">Doors</label><br>
            <input type="radio" id="wheals" name="d/w" value="Wheals">
            <label for="wheals">Wheals</label><br><br>
            <input type="submit" value="Submit">
        </form>
        <br><br>
        <a href="/data">Go To Data</a>
    </body>
</html>